{% extends "base.html" %}　
{% block title %}{{ blog.title }}{% endblock %}
{% block main %}
<main class="container">
    <div class="post">
       <article class="post-block">
           <h1 class="post-title">{{ blog.title }}</h1>
           <div class="post-info">{{ blog.timeStamp }}</div>
           <div class="post-content">{{ blog.body }}</div>
       </article>
   </div>
</main>
{% endblock %}

{% block post-scripts %}
<script type="text/javascript">
    var MIN_CONTENT_SIZE = 1200
    var SINGLE_LINE_SIZE = 50
    $('.active').removeClass('active')
    var content_text = $('.post-content').text();
    if(content_text.length < MIN_CONTENT_SIZE){
       var need_completion_size = (MIN_CONTENT_SIZE - content_text.length)/SINGLE_LINE_SIZE
       for(var i=0; i<need_completion_size;i++){
           content_text += '<br>'
       }
    }
    var content_html = $('.post-content').html(content_text);
</script>
{% endblock %}